
h1 {
	margin-left: 40%;
}


hr {
	height: 150px;
	width: 2px;
	
}

table {
	margin-left: 30%;
	width: 40%;
	margin-right: 30%
	
}

th {
	text-decoration:underline;
}

input {
	width: 170px;
}

button {
	height: 35px;
	width: 70px;
}